.maintenance-overlay{
position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

background:rgba(0,0,0,.35);

backdrop-filter:blur(12px);

z-index:999999;
}

.maintenance-card{

width:90%;
max-width:550px;

padding:55px;

text-align:center;

background:
rgba(20,20,20,.55);

backdrop-filter:blur(20px);

border-radius:30px;

border:1px solid
rgba(255,255,255,.1);

color:white;

box-shadow:
0 25px 70px rgba(0,0,0,.4);

}

.logo{

font-size:28px;

letter-spacing:4px;

margin-bottom:25px;

color:#d4af37;

}

h1{

font-size:54px;

margin-bottom:20px;

}

p{

font-size:18px;

opacity:.85;

line-height:1.8;

margin-bottom:30px;

}

.loader{

height:8px;

background:
rgba(255,255,255,.1);

border-radius:20px;

overflow:hidden;

margin-bottom:20px;

}

.loader-fill{

height:100%;

width:40%;

background:#d4af37;

animation:move 2s infinite;

}

@keyframes move{

0%{
transform:
translateX(-120%);
}

100%{
transform:
translateX(300%);
}

}